<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IG Bot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}" >
</head>
<body>
<h4>By Santiago Arredondo</h4>
<div class='title'>
    <img id='IGicon' src="{{url_for('static', filename='images/Instagram-Icon.png')}}" width="8%">
    <h1 id="'title">Instagram Bot</h1>
</div>

<div id="main-box">
    <h2 style="font-family: Arial; color: white; font-weight: bold; text-align:center;padding-top: 100px;">Loading</h2>
    <div class="lds-facebook"><div></div><div></div><div></div></div>
</div>
</body>
</html>